html, body {
  margin: 0;
  padding: 0;
  background-color: #121212; 
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Arial', Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  color: white;
  overflow-x: hidden; 
}